
.contenido{
    padding: 7%;
    margin-top: 8%;
}
.contenidoLogin{
    padding: 5%;
}

.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}
.msgError{
	color:red;

}
.btn btn-primary btn-lg{
	background-color: red;
}
.formRegistro{
    padding: 7%;
}
.space{
    width: 2%;
    height: 2%;
    background-color: rgb(1, 226, 151);

}

.color-b-b {
    color: rgb(221, 0, 192) ;
  }