
.contenido{
    padding: 6%;
    margin-top: 8%;
}
.contenidoLogin{
    padding: 5%;
}

.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}
.msgError{
	color:red;

}
.btn btn-primary btn-lg{
	background-color: red;
}
.formRegistro{
    padding: 7%;
}
.space{
    width: 2%;
    height: 2%;
    background-color: rgb(1, 226, 151);

}

.color-b {
    color: rgb(94, 49, 216) !important;  

    color: rgb(216, 49, 160) !important;  
}

.btn.btn-b-n {
    background-color: #15b0e4 !important;
    color: #ffffff;
    border-radius: 0;
    
}
#descripcion{
    width: 5%;
    height: 10%;
    size: 32;
}